html,
body {
  height: 100%;
  margin: 0;
}

.App-header {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu {
  /* overflow: hidden; */
  background: white;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 120px;
}

#header {
  color: #2ea9dd;
  background: white;
  border-bottom: solid;
}

#search-bar {
  background-color: white;
}

.app {
  width: 350px;
  margin: 0 auto;
}

.scroller {
  margin-top: 120px;
  height: 85%;
  width: 85%;
  overflow: auto;
}

.item {
  margin: 30px 0;
  border-style: solid;
  border-color: #2ea9dd;
}

#left {
  float: left;
  width: 50%;
  background: white;
  height: 80%;
  overflow: auto;
  margin-top: 10%;
  /* border-style: solid;
  border-color: #2ea9dd; */
  box-sizing: border-box;
}
#right {
  float: right;
  width: 50%;
  background: white;
  height: 80%;
  overflow: auto;
  margin-top: 10%;
  /* border-style: solid;
  border-color: #2ea9dd; */
  box-sizing: border-box;
}
