.gridwrapper {
  display: grid;
  grid-template-columns: 100%;
}

.menu {
  position: fixed;
  z-index: 1;
  background: white;
  width: 100%;
  text-align: center;
}

.searchbar {
  display: inline-block;
}

.filereader {
  display: inline-block;
}

#header {
  color: #2ea9dd;
  text-decoration: underline;
}

.scroller {
  top: 140px;
  position: relative;
}

.item {
  border: solid;
  border-color: #2ea9dd;
  margin: 5px;
  overflow: auto;
}

.item:hover {
  transition: 0.2s;
  background-color: lightgray;
  cursor: pointer;
}

#left {
  top: 140px;
  position: relative;
  float: left;
  width: 45%;
}

#right {
  top: 140px;
  position: relative;
  float: right;
  width: 55%;
}

.itemInfo {
  border: solid;
  border-color: #2ea9dd;
  margin: 5px;
  overflow: auto;
}

.routeLink {
  text-decoration: none;
  color: black;
}

.stats {
  top: 140px;
  position: relative;
  text-align: center;
}
