/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.app {
  width: 350px;
  margin: 0 auto;
}

.scroller {
  margin: 0 auto;
  height: 800px;
  width: 800px;
  overflow: auto;
}

.item {
  margin: 30px 0;
  border-style: solid;
  border-color: #2ea9dd;
}

#left {
  float: left;
  width: 50%;
  background: white;
  height: 80%;
  overflow: auto;
  margin-top: 10%;
  border-style: solid;
  border-color: #2ea9dd;
  box-sizing: border-box;
}
#right {
  float: left;
  width: 50%;
  background: white;
  height: 80%;
  overflow: auto;
  margin-top: 10%;
  border-style: solid;
  border-color: #2ea9dd;
  box-sizing: border-box;
}
